<html>
    <head>
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
        <title>Папапи Папапа Папипу</title>
    </head>
    <body>
    <div class="text text1">
        <h1 style="font-size:4em;">ПАПАПИ ПАПАПА ПАПИПУ</h1>
    </div>
    <div class="text text2">
        <p style="font-size:35px;">Выберите шаблон грамоты</p>
    </div>
    <div class="form1">
        <label class="input-file">
            <input type="file" accept=".png,.jpg,.jpeg,.pdf" name="file" id="picture">
            <span>Click me :)</span>
        </label>
    </div>
    <script src="static/js/index.min.js"></script> 
    <div style="text-align:center;margin-top:160px;">
        <span class="step-active"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</body>
</html>