<html>
    <head>
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
        <title>Папапи Папапа Папипу</title>
    </head>
    <body>
    <div class="text text1">
        <h1 style="font-size:4em;">ПАПАПИ ПАПАПА ПАПИПУ</h1>
    </div>
    <div class="text text2">
        <p style="font-size:35px;">Выберите файл с результатами (.csv)</p>
    </div>
    <div class="form1">
        <label class="input-file">
            <input type="file" accept=".csv" name="file" id="csv">		
            <span>Click me :)</span>
        </label>
    </div>

    <div style="text-align:center;margin-top:160px;">
        <span class="step"></span>
        <span class="step-active"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>

    <script src="static/js/secondStep.min.js"></script>
    <script src="static/js/papaparse.min.js"></script>
    </body>
</html>