<!DOCTYPE html>
<html>

<head>
    <title>Папапи Папапа Папипу</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/thirdStep.css">
</head>

<body style="opacity:0;transition:.5s;">
    <div id="main" style="opacity:1;transition:.5s;">
        <div class="text text1">
            <h1 style="font-size:4em;">ПАПАПИ ПАПАПА ПАПИПУ</h1>

            <table width="100%" cellspacing="0" cellpadding="0" ma>
                <td class="leftcol"><img alt="Пожалуйста, подождите..." width="450" height="600" id="iimage"></td>
                <td valign="top" text-align="center" style="font-size:35px;">Выберите место для <a
                        id="columnName"></a><br><br>
                    шрифт - <select size="1px" id="a" style="height: 40; width: 120; text-align: center; font-size: 16;"
                        onchange="update1(this.value)">
                        <option value="Arimo-Regular.ttf">Arimo-Regular.ttf</option>
                        <option value="Blazma-Regular.ttf">Blazma-Regular.ttf</option>
                        <option value="DAMN.ttf">DAMN.ttf</option>
                        <option value="DazedandCondensed-Bold.ttf">DazedandCondensed-Bold.ttf</option>
                        <option value="LinLibertine_Rah.ttf">LinLibertine_Rah.ttf</option>
                        <option value="pixhobo.ttf">pixhobo.ttf</option>
                        <option value="Plup.ttf">Plup.ttf</option>
                        <option value="Yulong.ttf">Yulong.ttf</option>
                    </select> или <label class="input-file"><input type="file" accept=".ttf" name="file" id="font"><span>загрузите свой шрифт</span></label><br><br>
                    размер шрифта - <input type="number" id="b"
                        style="height: 40; width: 75; text-align: center; font-size: 26;" onchange="update2(this.value)"
                        value="16"><br><br>
                    <input type="button" id="showpreview" value="Показать превью" onclick="download_preview()"
                        style="height: 40; text-align: center;" hidden="true">
                    <input type="button" id="nextcolumn" value="Следующий столбец" onclick="next()"
                        style="height: 40; text-align: center;" hidden="true">
                </td>
            </table>
            <button hidden="true" class="button1" onclick="nextPage()" id="buttonnext">
                Далее
            </button>
        </div>

        <div style="text-align:center;margin-top:20px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step-active"></span>
            <span class="step"></span>
        </div>

        <script src="static/js/thirdStep.min.js"></script>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/gsap.min.js"></script>
    </div>

    <div id="loading" style="opacity:0;transition:.5s;display: none;">
        <svg width="160" height="140" xmlns="http://www.w3.org/2000/svg" fill="#77e">
            <rect class="b1" x="10" y="60" rx="3" ry="3" width="20" height="20" />
            <rect class="b" x="40" y="60" rx="3" ry="3" width="20" height="20" />
            <rect class="b" x="70" y="60" rx="3" ry="3" width="20" height="20" />
            <rect class="b" x="100" y="60" rx="3" ry="3" width="20" height="20" />
            <rect class="b" x="130" y="60" rx="3" ry="3" width="20" height="20" />
        </svg>
    </div>

</body>

</html>