body {
    background-image: url('/static/img/background.png');
    background-repeat: no-repeat;
    background-size:cover;
    padding: 35px;
}
.text {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.text1 {
    margin-top: 10%;
    text-align: center;
    color: rgb(35, 34, 35);
}
.text2 {
    line-height: 125px;
    color: rgb(108, 105, 108);
}
.form1 {
    text-align :center;
    
    font-family: 'Rubik', sans-serif;
}
button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
/* Hover/active */
button:hover {
    background-color: #13639f;
}
.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #46a4d0;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    box-shadow: 2px 2px 5px rgb(94, 163, 200);
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #13639f;
}
.input-file:active span {
    background-color: #46a4d0;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step-active {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #464545;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.button1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #46a4d0;
    line-height: 22px;

    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    box-shadow: 2px 2px 5px rgb(94, 163, 200);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}