.button1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #46a4d0;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    box-shadow: 2px 2px 5px rgb(94, 163, 200);
}

.button1 :focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
/* Focus */
.form1:focus button {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
/* Hover/active */
.form1:hover button {
    background-color: #13639f;
}
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step-active {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #464545;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.leftcol {
    width: 25%;
    /* Ширина левой колонки с рисунком */
    vertical-align: top;
    text-align: center;
    margin-left: 50%;
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 25%;
    padding-right: 40px;
}
  
svg {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.resizable {
    background: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
  }