{% extends 'base.html' %}

{% block content %}
    <div class="text text1">
        <h1 style="font-size:4em;">ПАПАПИ ПАПАПА ПАПИПУ</h1>
    </div>
    <div class="text text2">
        <p style="font-size:35px;">Для скачивания результатов нажмите кнопку 1<br>Для загрузки других сертификатов нажмите кнопку 2</p>
        <button class="button" width="35" onclick="button1()"><img src="static/download.png" height="45px" width="45px" style="vertical-align: middle"> </button>
        <button class="button" width="35" onclick="button2()"><img src="static/again.png" height="45px" width="45px" style="vertical-align: middle"> </button>
    </div>

    <div style="text-align:center;margin-top:80px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step-active"></span>
    </div>

    <script>
    function button1(c) {
        window.location.replace("https://7e09-92-246-214-18.eu.ngrok.io/download")
    }

    function button2(c) {
        window.location.replace("https://7e09-92-246-214-18.eu.ngrok.io")
    }
    </script>
{% endblock %}